<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style_index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <a href="/overview" class="start"> <strong>Overview</strong></a>
      <a href="/statistics" class="statistics"> <strong>Statistics</strong></a>
    </header>
    <div class="welcomeText">
      <p>
        Welcome to the most accurate weather website you will find. To use it,
        enter the coordinates of the location you want to check
      </p>
    </div>
    <div class="changeLocation">
      <form
        action="/"
        method="post"
        style="display: flex; flex-direction: column"
      >
        <div class="input" style="margin-bottom: 10px">
          <label for="latitude">Latitude of your wish location</label><br />
          <input type="text" id="latitude" name="latitude" />
        </div>
        <div class="input">
          <label for="longitude">Longitude of your wish location</label><br />
          <input type="text" id="longitude" name="longitude" /> <br />
        </div>

        <input type="submit" value="Submit" class="submitButton" />
        <div class="errorMessage"><%= errorStatus%></div>
        <p></p>
      </form>
    </div>
  </body>
</html>
