<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Include source for the charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="style_statistics.css" />
    <script src="js_chart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <a href="/"><strong>Start</strong></a>
      <a href="/overview"><strong>Overview</strong></a>
    </header>

    <div class="newLocation">
      <form
        action="/statistics"
        method="post"
        style="display: flex; flex-direction: column"
      >
        <div class="inputFields">
          <div class="input" style="margin-bottom: 10px">
            <label for="latitudeNewLocation">Latitude</label><br />
            <input
              type="text"
              id="latitudeNewLocation"
              name="latitudeNewLocation"
            />
          </div>
          <div class="input">
            <label for="longitudeNewLocation">Longitude</label><br />
            <input
              type="text"
              id="longitudeNewLocation"
              name="longitudeNewLocation"
            />
            <br />
          </div>
        </div>

        <input type="submit" value="Submit" class="submitButton" />
        <div class="errorMessage"><%= errorStatus%></div>
        <p></p>
      </form>
    </div>
    <!--Canvas for the Chart-->
    <div class="charts">
      <div class="myChart1"><canvas id="myChart1"></canvas></div>
      <div class="myChart2"><canvas id="myChart2"></canvas></div>
    </div>
  </body>
</html>
