
body {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	background-color: rgb(238, 238, 238);
	position: sticky;
	/*needed to keep the header at the top*/
	top: 0;
}

html {
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.chart{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: black;
	font-size: 200%;
}

a:hover {

	scale: 110%;
	cursor: pointer;
}